.container {
    position: fixed;
    background-image: url(../../../public/images/city.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 70px;
    displaY: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.container h1 {
    font-family: Satisfy
}

.container p {
    font-size: 1.2rem;
    font-weight: 700;
}

.formContainer {
    margin: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer form {
    padding: 20px;
    border-radius: 20px;
    gap: 15px;
    max-width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer form>div {
    font-family: Handlee;
    font-weight: 600;
    color: black;
    width: 100%;
    display: grid;
    grid-column: 2;
    margin: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px;
}

.formContainer form input {
    border-radius: 50px;
    font-size: 1.1rem;
    padding: 10px 20px;
    flex-grow: 1;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.formContainer form input:focus {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.submit {
    /* bg-sky-600 px-8 py-4 rounded-2xl border-0 text-white rounded-b-2xl font-sans */
    background: rgb(5, 108, 226);
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5em;
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: sans-serif;

}